/*--------------------------------------------------------------
1. Basic Color Variable
----------------------------------------------------------------*/

:root {
  --body-font-family: "Poppins";
  --heading-font-family: "Inter Tight";
  --display-font-family: "Italiana";
  --display-font-family-two: "Unbounded";

  --body-color: #616161;
  --body-bg-color: #ffffff;
  --heading-color: #0a0403;
  --heading-color-two: #141422;
  --border-color: #d8dde1;
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-color: #df5a21;
  --title-color: #020202;
  --secendary-color: #27323a;
  --smoke-bg-color-one: #fff7f3;
  --smoke-bg-color-two: #fffbee;
  --other-color-one: #efd2c0;
  --shadow-color-one: #e0dada;
}
