/*--------------------------------------------------------------
  Service Details
----------------------------------------------------------------*/

@use "../abstracts" as *;

.service-details {
  &__row {
    display: flex;
    align-items: flex-start;
    gap: 30px;

    @include respond(lg) {
      flex-direction: column;
    }
  }

  &__content-col {
    width: 66.666667%;
    background-color: var(--smoke-bg-color-one);
    padding: 40px;
    flex-shrink: 0;

    @include respond(lg) {
      width: 100%;
    }
  }

  &__sidebar-col {
    width: 33.333333%;
    flex-shrink: 0;

    @include respond(lg) {
      width: 100%;
    }
  }

  &__main-img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;

    @include respond(md) {
      font-size: 30px;
    }
  }

  &__title-underline {
    display: block;
    margin-bottom: 30px;
  }

  &__title-underline-img {
    display: block;
    height: auto;
  }

  &__desc,
  &__sub-desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 20px;
  }

  &__sub-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    margin-bottom: 15px;

    @include respond(md) {
      font-size: 24px;
    }
  }

  &__sub-images {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;

    @include respond(sm) {
      flex-direction: column;
    }
  }

  &__sub-img {
    width: 50%;
    height: auto;
    display: block;
    object-fit: cover;

    @include respond(sm) {
      width: 100%;
    }
  }

  &__list {
    list-style: none;
    margin: 0 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;

    &--single-col {
      display: block;

      .service-details__list-item {
        width: auto;
        line-height: 36px;
      }
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    width: calc(50% - 15px);

    @include respond(sm) {
      width: 100%;
    }
  }

  &__list-icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }
}
